<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks"%>

<h1>Tasks for project <%= @project.name %></h1>

<h2>Tasks</h2>

<div>
  <ol>
    <% @tasks.each do |task| %>
    <%= render task %>
    <li>
      <%= link_to "Show this task", project_task_path(@project, task)%>
    </li>
    <% end %>
  </ol>
</div>

<%= link_to "New task", new_project_task_path %>